.button {
  @include button-none();
  width: 77.7vw;
  display: block;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(0deg, #7ecc17, #7ecc17), rgba(255, 255, 255, 0.49);
  border-radius: 47px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: $main-text-color;
  padding: 23px 70px 23px 90px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s;
  min-height: 91px;

  &::before {
    @include defaul-pseudo-element(65px);
    left: 6.2%;
    top: 50%;
    transform: translateY(-50%);
    background: no-repeat center center;
    background-size: contain;
  }

  &::after {
    @include defaul-pseudo-element(38px, 34px);
    right: 4.6%;
    top: 50%;
    transform: translateY(-50%);
    background: url("./../../public/img/arrow.svg");
  }

  @media (min-width: $min-desktop-size) {
    width: 322px;
    margin: 0;
  }

  &:hover {
    transition: 0.5s;
    filter: drop-shadow(2px 4px 18px black);
  }
}
