.title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 77px;
  color: $main-text-color;
  @include margin-bottom(14px);
  position: relative;
  z-index: 2;

  text-transform: uppercase;

  @media (min-width: $min-desktop-size) {
    font-size: 85px;
    line-height: 77px;
  }
}
