// Colors
$main-text-color: #ffffff;
$decor-bg-color: #7ecc17;
$bg-color: #151515;

// sizes
$max-mobile-size: 750px;
$min-desktop-size: 751px;
$desktop--2-size: 900px;
$desktop--3-size: 1100px;
$desktop--4-size: 1300px;
$desktop--5-size: 1300px;
