.form__img-container {
  position: relative;
  background: rgba(217, 217, 217, 0.3);

  border-radius: 47px;
  padding: 40px 32px;
  box-sizing: border-box;

  @media (min-width: 900px) {
    width: 37.5vw;
  }
}

.form__button {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 19px;
  margin: 0 auto;
  padding-left: 125px;
  text-align: center;
  margin-top: 32px;

  &::before {
    background-image: url("./../../public/img/-30.svg");
    width: 107px;
    height: 61px;
  }

  @media (min-width: 900px) {
    max-width: 100%;
    box-sizing: border-box;
  }
}

.form__title {
  font-size: 33px;
  line-height: 44px;
  margin-bottom: 33px;

  @media (min-width: 900px) {
    font-size: 53px;
    line-height: 64px;
  }
}

.form__input {
  background: #aaaaaa;
  border: none;
  border-radius: 47px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 25px 36px;
  box-sizing: border-box;
  color: #ffffff;
  transition: 1s;

  &::placeholder {
    color: #ffffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &:hover {
    transition: 1s;
    background: #777777;
  }
}

.form__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  @media (min-width: 900px) {
    padding: 0;
    margin: 0 auto;
    display: flex;
  }
}
