.product {
  background: #464646;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 47px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 1.5s;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 35px;
  }

  &:nth-child(1) {
    top: 120px;
    right: 30px;
    width: 173px;
    transform: rotate(-9.95deg);

    @media (min-width: $min-desktop-size) {
      right: 183px;
      width: 266.73px;
    }

    @media (max-width: $desktop--2-size) and (min-width: $min-desktop-size) {
      width: fit-content;
    }
  }

  &:nth-child(2) {
    top: 360px;
    right: 167px;
    width: 131.55px;
    transform: rotate(18.27deg);

    & .product__img-container {
      width: 47px;
      height: 47px;
    }

    @media (min-width: $min-desktop-size) {
      right: 452px;
      width: 209.84px;
      top: 405px;

      & .product__img-container {
        width: 75.08px;
        height: 76.23px;
      }

      & img {
        width: 39.22px;
        height: 38.76px;
      }
    }

    @media (max-width: $desktop--2-size) and (min-width: $min-desktop-size) {
      width: fit-content;
    }
  }

  &:nth-child(3) {
    top: 590px;
    right: 30px;
    width: 173px;
    transform: rotate(-20.5deg);

    @media (min-width: $min-desktop-size) {
      width: 249.66px;
      right: 90px;
      top: 670px;
    }

    @media (max-width: $desktop--2-size) and (min-width: $min-desktop-size) {
      width: fit-content;
    }
  }

  @media (min-width: $min-desktop-size) {
    padding: 25px;
  }

  &:hover {
    transition: 1.3s;
    scale: 1.1;
  }
}

.product__link {
  @include button-none;
}

.product__img-container {
  width: 65px;
  height: 66px;
  background: #ffffff;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $min-desktop-size) {
    width: 100.22px;
    height: 101.76px;

    & img {
      width: 55.22px;
      height: 50.76px;
    }
  }
}

.product__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* or 122% */

  text-align: left;
  letter-spacing: 0.05em;

  color: #ffffff;
  @include margin-bottom(10px);

  @media (min-width: $min-desktop-size) {
    font-size: 28px;
    line-height: 32px;
    @include margin-bottom(15px);
  }

  @media (min-width: $desktop--2-size) {
    font-size: 28px;
    line-height: 32px;
    @include margin-bottom(15px);
  }
}

.product__button {
  @include button-none;
  width: 63.12px;
  height: 30px;

  background: $decor-bg-color;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 47px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;

  &::before {
    @include defaul-pseudo-element(25px, 21px);
    background: url("./../../public/img/arrow.svg") no-repeat center center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $min-desktop-size) {
    width: 128.59px;
    height: 60.86px;
  }
}
